<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>Unify | Welcome...</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css"> 
    <link rel="stylesheet" href="assets/css/app1.css">
    <link rel="shortcut icon" href="favicon.ico">
    <style>
    </style>
</head>
<body>

    <div class="container">
        <!-- Our Clients -->
        <ul class="social-icons">
            <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
            <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
            <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
            <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
            <li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
            <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
            <li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li>
        </ul>
    </div>
    <!-- JS Global Compulsory -->

    <script>

    </script>
</body>
</html>
