<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>Unify | Welcome...</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/app1.css">
    <link rel="shortcut icon" href="favicon.ico">
    <style>
    </style>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive margin-bottom-20" src="assets/img/main/6.jpg" alt="" />
            </div>
            <div class="col-sm-8">
                <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
                <ul class="list-unstyled margin-bottom-20">
                    <li><i class="icon-ok color-green"></i> Donec id elit non mi porta gravida</li>
                    <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
                    <li><i class="icon-ok color-green"></i> Responsive Bootstrap Template</li>
                    <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
                </ul>
                <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
            </div>
        </div>
        <div class="row">
            <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
        </div>
    </div>
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="assets/plugins/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script>
    </script>
</body>
</html>
