<link ng-repeat="ff in fontfaces" ng-href="{{ff.url}}" rel='stylesheet' type='text/css'>
<style id="wb_fontfacestyle"></style>
<div id="wb_toolbox">
    <div class="title">Tool</div>
    <div class="accordion">
        <h3>Layout</h3>
        <div>
            <div class="wb_draggable" sid="s0001">
                <img src="/Content/images/t00/s0001.png" alt="" />
            </div>
            <!--<div class="wb_draggable" sid="s0002">
                    <img src="/Content/images/t00/s0002.png" alt="" />
                </div>
                <div class="wb_draggable" sid="s0003">
                    <img src="/Content/images/t00/s0003.png" alt="" />
                </div>-->
            <!--<div class="wb_draggable" sid="s0004">
                    <img src="/Content/images/t00/s0004.png" alt="" />
                </div>
                <div class="wb_draggable" sid="s0005">
                    <img src="/Content/images/t00/s0005.png" alt="" />
                </div>-->
            <div class="wb_draggable" sid="s0006">
                <img src="/Content/images/t00/s0006.png" alt="" />
            </div>
            <div class="wb_draggable" sid="s0007">
                <img src="/Content/images/t00/s0007.png" alt="" />
            </div>
        </div>
        <h3>Basic Item</h3>
        <div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="wb_draggable" sid="s9901">
                        <img src="/Content/images/t99/s9901.png" alt="" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="wb_draggable" sid="s9902">
                        <img src="/Content/images/t99/s9902.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="wb_draggable" sid="s9903">
                        <img src="/Content/images/t99/s9903.png" alt="" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
            </div>
        </div>
        <h3>Section 1</h3>
        <div>
            <div class="wb_draggable" sid="s0101">
                <img src="/Content/images/t01/s0101.png" alt="" />
            </div>
            <div class="wb_draggable" sid="s0102">
                <img src="/Content/images/t01/s0102.png" alt="" />
            </div>
            <div class="wb_draggable" sid="s0103">
                <img src="/Content/images/t01/s0103.png" alt="" />
            </div>
            <div class="wb_draggable" sid="s0104">
                <img src="/Content/images/t01/s0104.png" alt="" />
            </div>
        </div>
        <h3>Section 2</h3>
        <div>
            <div class="wb_draggable" sid="s0105">
                <img src="/Content/images/t01/s0105.png" alt="" />
            </div>
            <div class="wb_draggable" sid="s0106">
                <img src="/Content/images/t01/s0106.png" alt="" />
            </div>
            <div class="wb_draggable" sid="s0107">
                <img src="/Content/images/t01/s0107.png" alt="" />
            </div>
            <div class="wb_draggable" sid="s0108">
                <img src="/Content/images/t01/s0108.png" alt="" />
            </div>

        </div>
        <h3>Section 3</h3>
        <div>
            <div>
                <div class="wb_draggable" sid="s0109">
                    <img src="/Content/images/t01/s0109.png" alt="" />
                </div>
                <div class="wb_draggable" sid="s0110">
                    <img src="/Content/images/t01/s0110.png" alt="" />
                </div>
                <div class="wb_draggable" sid="s0111">
                    <img src="/Content/images/t01/s0111.png" alt="" />
                </div>
            </div>
        </div>

    </div>
</div>
<div id="wb_toolbar">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-default" id="btnEditText" ng-click="newPage()">New Page</button>
            <button type="button" class="btn btn-default" ng-click="openPage()">Open Page</button>
            <button type="button" class="btn btn-default" ng-click="savePage()">Save Page</button>
        </div>
    </div>
</div>
<div id="wb_pagebuilder">
    <div class="wb_pagesection">PAGE TOP</div>
    <div id="htmlRoot">
        <div class="wb_sortable row" wb_id="rootNode" id="rootNode">
        </div>
    </div>
    <div class="wb_pagesection">PAGE BOTTOM</div>
</div>

<!--Text Modal -->
<div class="modal fade" id="wb_EditTextModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">EDIT TEXT</h4>
            </div>
            <div class="modal-body">
                <h3>Select text to edit:</h3>
                <form role="form">
                    <div class="form-group">
                        <div id="textPanel">
                            <div class="list-group">
                                <div class="list-group-item {{editText.isActive && 'active' || ''}}" ng-repeat="editText in editTextList">
                                    <div ng-click="selectEditText($index)"> {{editText.text}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="textEditor">
                            <textarea id="wb_textEditor" name="area"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnTextSave" ng-click="saveEditText()">Save</button>
            </div>
        </div>
    </div>
</div>
<!--Image Modal -->
<div class="modal fade" id="wb_EditImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">EDIT IMAGE</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div id="imagePanel">
                                <div class="list-group">
                                    <div class="list-group-item" ng-repeat="editImage in editImageList">
                                        <div class="editImageItem editImageItem-{{$index}}" ng-click="selectEditImage($index)">
                                            <div><img ng-src="{{editImage.image}}" /></div>
                                            <div class="imageSize">{{editImage.width}} X {{editImage.height}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 imagePanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#wb_search" role="tab" data-toggle="tab">Search</a></li>
                            <li><a href="#wb_upload" role="tab" data-toggle="tab">Upload</a></li>
                            <li><a href="#wb_myFolder" role="tab" data-toggle="tab" id="myFolderTab">My Folder</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="wb_search">
                                <form role="form">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="textSearch" placeholder="Search">
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn-primary btn-sm" id="btnSearch" ng-click="searchImage()">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div id="searchPanel" class="clearfix">
                                    <div class="clearfix content">
                                        <div ng-repeat="image in searchImageList">
                                            <div class="wb_searchImage wb_searchImage-{{$index}}">
                                                <div class='imagePlaceHolder' ng-click="selectSearchImage($index)"></div>
                                                <div class='imageSize'>
                                                    {{image.Width}} X {{image.Height}}
                                                </div>
                                            </div>
                                            <div ng-class="($index>0 && ($index+1)%4==0) && 'clearfix' || ''"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="wb_upload">
                                <form role="form" class="form-inline" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <input type="file" class="form-control" id="fileUpload">
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn-primary btn-sm" id="btnUpload" ng-click="uploadImage()">Upload</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div id="uploadPanel" class="clearfix"></div>
                            </div>
                            <div class="tab-pane" id="wb_myFolder">
                                <div id="myFolderPanel" class="clearfix">
                                    <div class="clearfix content">
                                        <div ng-repeat="image in myfolderImageList">
                                            <div class="wb_MyFolderImage wb_MyFolderImage-{{$index}}">
                                                <div class='imagePlaceHolder' ng-click="selectMyFolderImage($index)">
                                                    <img src="{{image.Url}}" />
                                                </div>
                                                <div class='imageSize'>
                                                    {{image.Width}} X {{image.Height}}
                                                </div>
                                            </div>
                                            <div ng-class="($index>0 && ($index+1)%4==0) && 'clearfix' || ''"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="txtCropWidth" ng-value="cropwidth" />
                    </div>
                    <div class="col-sm-1">
                        X
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="txtCropHeight" ng-value="cropheight">
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary" id="btnCropImage" ng-click="cropImage()">Crop</button>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-primary" id="btnImageSave" ng-click="saveImage()">Save To My Folder</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary" id="btnImageSave" ng-click="updateImage()">Update Image</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Image crop Modal -->
<div class="modal fade" id="wb_CropImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">CROP IMAGE</h4>
            </div>
            <div class="modal-body">
                <img src="#" alt="" id="wb_CropImage" />
                <div class="results">
                    <b>X</b>: <span class="cropX"></span>
                    <b>Y</b>: <span class="cropY"></span>
                    <b>W</b>: <span class="cropW"></span>
                    <b>H</b>: <span class="cropH"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnSaveCropImage" ng-click="saveCropImage()">Save To My Folder</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Setting Modal -->
<div class="modal fade" id="wb_SettingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Settings</h4>
            </div>
            <div class="modal-body">
                <form id="settingsForm" role="form">
                    <div>
                        <div class="row form-group" ng-repeat="setting in modelSettings">
                            <div class="col-sm-8">{{setting.Desc}}</div>
                            <div class="col-sm-4"><input type="text" ng-value="setting.Value" /></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSettingsSave" ng-click="saveSettings()">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="hiddenModel">
    <div class="btn-group modelButtons">
        <i class="icon-font btnEditText"></i>
        <i class="icon-picture btnEditImage"></i>
        <i class="icon-gear btnEditSettings"></i>
</div>
</div>



