@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_pageBuilder.cshtml";
}

<div id="wb_toolbox">
    <div class="title">Tool</div>
    <div class="accordion">
        <h3>Section 1</h3>
        <div>
            <div class="wb_draggable">
                <img src="~/Content/images/t01/s0101.png" alt="" />
            </div>
            <div class="wb_draggable">
                <img src="~/Content/images/t01/s0102.png" alt="" />
            </div>
            <div class="wb_draggable">
                <img src="~/Content/images/t01/s0103.png" alt="" />
            </div>
            <div class="wb_draggable">
                <img src="~/Content/images/t01/s0104.png" alt="" />
            </div>
        </div>
        <h3>Section 2</h3>
        <div>
            <div class="wb_draggable">
                <img src="~/Content/images/t01/s0105.png" alt="" />
            </div>
            <div class="wb_draggable">
                <img src="~/Content/images/t01/s0106.png" alt="" />
            </div>
            <div class="wb_draggable">
                <img src="~/Content/images/t01/s0107.png" alt="" />
            </div>
            <div class="wb_draggable">
                <img src="~/Content/images/t01/s0108.png" alt="" />
            </div>

        </div>
        <h3>Section 3</h3>
        <div>
            <div>
                <div class="wb_draggable">
                    <img src="~/Content/images/t01/s0109.png" alt="" />
                </div>
                <div class="wb_draggable">
                    <img src="~/Content/images/t01/s0110.png" alt="" />
                </div>
                <div class="wb_draggable">
                    <img src="~/Content/images/t01/s0111.png" alt="" />
                </div>
            </div>
        </div>

    </div>
</div>
<div id="wb_pagebuilder">
    <div class="wb_pagesection">PAGE TOP</div>
    <div class="wb_sortable" >
    </div>
    <div class="wb_pagesection">PAGE BOTTOM</div>
</div>

