@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_pageBuilder.cshtml";
}
@section styles{
    <link rel="stylesheet" href="/Content/templates/t01/assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/Content/templates/t01/assets/plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="/Content/templates/t01/assets/plugins/parallax-slider/css/parallax-slider.css">

    <link rel="stylesheet" href="/Content/templates/t01/assets/css/app1.css">
}

<div wb-page>
</div>

@section scripts
{
    <script type="text/javascript" src="/Content/templates/t01/assets/plugins/hover-dropdown.min.js"></script>
    <script type="text/javascript" src="/Content/templates/t01/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/Content/templates/t01/assets/plugins/parallax-slider/js/modernizr.js"></script>
    <script type="text/javascript" src="/Content/templates/t01/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
    <script src="~/Scripts/tinymce/tinymce.js"></script>
}


