<div>
    <style>
    </style>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive margin-bottom-20" src="assets/img/main/6.jpg" alt="" />
            </div>
            <div class="col-sm-8">
                <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
                <ul class="list-unstyled margin-bottom-20">
                    <li><i class="icon-ok color-green"></i> Donec id elit non mi porta gravida</li>
                    <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
                    <li><i class="icon-ok color-green"></i> Responsive Bootstrap Template</li>
                    <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
                </ul>
                <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
            </div>
        </div>
        <div class="row">
            <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
        </div>
    </div>
</div>
