<div wb_id="" class="wb_draggable">
    <style>
        /*Sliders
        ------------------------------------*/
        /*Main Parallax Sldier*/
        .da-slide h2 i {
            background: url(/Content/templates/t01/assets/plugins/parallax-slider/img/bg-heading.png) repeat;
        }

        /*Sequence Parallax Sldier*/
        .sequence-inner {
            background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#defce7));
            background: -webkit-linear-gradient(#fff, #defce7);
            background: -moz-linear-gradient(#fff, #defce7);
            background: -ms-linear-gradient(#fff, #defce7);
            background: -o-linear-gradient(#fff, #defce7);
            background: linear-gradient(#fff, #defce7);
        }

        #sequence-theme h2 {
            background: rgba(114, 192, 44, 0.8);
        }

        #sequence-theme .info p {
            background: rgba(114, 192, 44, 0.8);
        }
    </style>
    <!--=== Slider ===-->
    <div class="slider-inner">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">
                <h2><i class="oneline">CLEAN &amp; FRESH</i>  <i class="oneline">FULLY RESPONSIVE</i>  <i class="oneline">DESIGN</i></h2>
                <p><i class="oneline">Lorem ipsum dolor amet</i>  <i class="oneline">tempor incididunt ut</i>  <i class="oneline">veniam omnis </i></p>
                <div class="da-img"><img src="/Content/templates/t01/assets/plugins/parallax-slider/img/1.png" alt="" /></div>
            </div>
            <div class="da-slide">
                <h2><i class="oneline">RESPONSIVE VIDEO</i>  <i class="oneline">SUPPORT AND</i>  <i class="oneline">MANY MORE</i></h2>
                <p><i class="oneline">Lorem ipsum dolor amet</i>  <i class="oneline">tempor incididunt ut</i></p>
                <div class="da-img">
                    <iframe src="http://player.vimeo.com/video/47911018" width="530" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="da-slide">
                <h2><i class="oneline">USING BEST WEB</i>  <i class="oneline">SOLUTIONS WITH</i>  <i class="oneline">HTML5/CSS3</i></h2>
                <p><i class="oneline">Lorem ipsum dolor amet</i>  <i class="oneline">tempor incididunt ut</i>  <i class="oneline">veniam omnis </i></p>
                <div class="da-img"><img src="/Content/templates/t01/assets/plugins/parallax-slider/img/html5andcss3.png" alt="image01" /></div>
            </div>
            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </div>
        </div><!--/da-slider-->
    </div><!--/slider-->
    <!--=== End Slider ===-->


</div>
