<div wb_id="" class="wb_draggable">
    <style>
        /*Block Headline*/
        .headline {
            display: block;
            margin: 10px 0 25px 0;
            border-bottom: 1px dotted #e4e9f0;
        }

            .headline h2,
            .headline h3,
            .headline h4 {
                color: #585f69;
                margin: 0 0 -2px 0;
                padding-bottom: 5px;
                display: inline-block;
                border-bottom: 2px solid #72c02c;
            }

            .headline h2 {
                font-size: 23px;
            }

        .headline-md h2 {
            font-size: 21px;
        }

        .headline-md {
            margin-bottom: 15px;
        }
    </style>

    <!-- Header Line -->
    <div class="headline"><h2>Header Line</h2></div>

</div>
