<div wb_id="" class="wb_draggable wb_node  [[GUID]]" sectionid="s0101">
    <style>
        /*Top Bar (login, search etc.)
                ------------------------------------*/
        .[[GUID]] .s0101-top {
            padding-top: 8px;
        }

            .[[GUID]] .s0101-top ul.loginbar {
                margin: 0;
                padding: 0;
                z-index: 9999;
                position: relative;
            }

                .[[GUID]] .s0101-top ul.loginbar > li {
                    display: inline;
                    list-style: none;
                    padding-bottom: 15px;
                }

                    .[[GUID]] .s0101-top ul.loginbar > li > a,
                    .[[GUID]] .s0101-top ul.loginbar > li > a:hover {
                        color: #7c8082;
                        font-size: 11px;
                        text-transform: uppercase;
                        font-family: 'Open Sans', sans-serif;
                    }

                .[[GUID]] .s0101-top ul.loginbar li.devider {
                    top: -1px;
                    padding: 0;
                    font-size: 8px;
                    position: relative;
                    margin: 0 9px 0 5px;
                    font-family: Tahoma;
                    border-right: solid 1px #bbb;
                }

                .[[GUID]] .s0101-top ul.loginbar li i.icon-globe {
                    color: #bbb;
                }

            /*Lenguages*/
            .[[GUID]] .s0101-top ul.lenguages {
                top: 25px;
                left: -5px;
                display: none;
                padding: 4px 0;
                padding-left: 0;
                list-style: none;
                min-width: 100px;
                position: absolute;
                background: #f0f0f0;
            }

            .[[GUID]] .s0101-top li:hover ul.lenguages {
                display: block;
            }

            .[[GUID]] .s0101-top ul.lenguages:after {
                top: -4px;
                width: 0;
                height: 0;
                left: 8px;
                content: " ";
                display: block;
                position: absolute;
                border-bottom: 6px solid #f0f0f0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-left-style: inset; /*FF fixes*/
                border-right-style: inset; /*FF fixes*/
            }

            .[[GUID]] .s0101-top ul.lenguages li a {
                color: #555;
                display: block;
                font-size: 10px;
                padding: 2px 12px;
                margin-bottom: 1px;
                text-transform: uppercase;
                font-family: 'Open Sans', sans-serif;
            }

            .[[GUID]] .s0101-top ul.lenguages li.active a i {
                color: #999;
                float: right;
                margin-top: 2px;
            }

            .[[GUID]] .s0101-top ul.lenguages li a:hover,
            .[[GUID]] .s0101-top ul.lenguages li.active a {
                background: #fafafa;
            }

            .[[GUID]] .s0101-top ul.lenguages li a:hover {
                text-decoration: none;
            }

        /*Header Default
        ------------------------------------*/
        .[[GUID]] .s0101-header {
            z-index: 999;
            position: relative;
            border-bottom: solid 2px #eee;
        }

            .[[GUID]] .s0101-header .navbar {
                margin: 0;
                min-height: inherit;
            }

            .[[GUID]] .s0101-header .navbar-default {
                border: none;
                background: none;
            }

            .[[GUID]] .s0101-header .navbar-collapse {
                position: relative;
                /*max-height: inherit;*/
            }

            /*Brand*/
            .[[GUID]] .s0101-header .navbar-brand {
                z-index: 2;
                position: relative;
                padding: 0 10px 10px;
            }

            /*Navbar*/
            .[[GUID]] .s0101-header .navbar-default .navbar-nav > li > a {
                color: #687074;
                font-size: 15px;
                font-weight: 400;
                padding: 9px 20px;
                text-transform: uppercase;
            }

            .[[GUID]] .s0101-header .navbar-default .navbar-nav > .active > a {
                color: #72c02c;
            }

            /*Dropdown*/
            .[[GUID]] .s0101-header .navbar-right .dropdown-menu {
                right: inherit;
            }

            .[[GUID]] .s0101-header .navbar .nav > li > a i.icon-angle-down {
                top: -1px;
                left: 1px;
                font-size: 12px;
                position: relative;
                margin: 0 !important;
            }

        /*Navber Toggle*/
        .[[GUID]] .navbar-toggle,
        .[[GUID]] .navbar-default .navbar-toggle:hover,
        .[[GUID]] .navbar-default .navbar-toggle:focus {
            background: #72c02c;
        }

            .[[GUID]] .navbar-toggle:hover {
                background: #5fb611 !important;
            }

        .[[GUID]] .navbar-default .navbar-toggle {
            border-color: #5fb611;
        }

            .[[GUID]] .navbar-default .navbar-toggle .icon-bar {
                background: #fff;
            }



        /*Responsive @Media
        ------------------------------------*/
        @media (min-width: 767px) {
            /*Navbar Collapse*/
            .[[GUID]] .s0101-header .navbar-collapse {
                padding: 0;
            }

            /*Navbar*/
            .[[GUID]] .s0101-header .navbar-nav {
                top: 2px;
                margin-top: 10px;
                position: relative;
            }

            .[[GUID]] .s0101-header .navbar-default .navbar-nav > li > a,
            .[[GUID]] .s0101-header .navbar-default .navbar-nav > li > a:focus {
                border-bottom: solid 2px transparent;
            }

                .[[GUID]] .s0101-header .navbar-default .navbar-nav > li > a:hover,
                .[[GUID]] .s0101-header .navbar-default .navbar-nav > .active > a {
                    border-bottom: solid 2px #72c02c;
                }

                    .[[GUID]] .s0101-header .navbar-default .navbar-nav > li > a,
                    .[[GUID]] .s0101-header .navbar-default .navbar-nav > li > a:hover,
                    .[[GUID]] .s0101-header .navbar-default .navbar-nav > li > a:focus,
                    .[[GUID]] .s0101-header .navbar-default .navbar-nav > .active > a,
                    .[[GUID]] .s0101-header .navbar-default .navbar-nav > .active > a:hover,
                    .[[GUID]] .s0101-header .navbar-default .navbar-nav > .active > a:focus {
                        background: none;
                    }

            .[[GUID]] .s0101-header .navbar-default .navbar-nav > .open > a,
            .[[GUID]] .s0101-header .navbar-default .navbar-nav > .open > a:hover,
            .[[GUID]] .s0101-header .navbar-default .navbar-nav > .open > a:focus {
                color: #72c02c;
            }

            /*Dropdown Menu*/
            .[[GUID]] .s0101-header .dropdown-menu {
                padding: 0;
                border: none;
                min-width: 200px;
                border-radius: 0;
                z-index: 9999 !important;
                margin-top: -2px !important;
                border-top: solid 2px #72c02c;
                border-bottom: solid 2px #687074;
            }

                .[[GUID]] .s0101-header .dropdown-menu li a {
                    color: #687074;
                    font-size: 13px;
                    font-weight: 400;
                    padding: 6px 15px;
                    border-bottom: solid 1px #eee;
                }

                .[[GUID]] .s0101-header .dropdown-menu .active > a,
                .[[GUID]] .s0101-header .dropdown-menu li > a:hover {
                    color: #fff;
                    filter: none !important;
                    background: #687074 !important;
                    -webkit-transition: all 0.1s ease-in-out;
                    -moz-transition: all 0.1s ease-in-out;
                    -o-transition: all 0.1s ease-in-out;
                    transition: all 0.1s ease-in-out;
                }

                .[[GUID]] .s0101-header .dropdown-menu li > a:focus {
                    background: none;
                    filter: none !important;
                }
        }
    </style>

    <!--=== Top ===-->
    <div class="s0101-top">
        <div class="container">
            <ul class="loginbar pull-right">
                <li>
                    <i class="icon-globe"></i>
                    <a>Languages</a>
                    <ul class="lenguages">
                        <li>
                            <a href="#">English <i class="icon-ok"></i></a>
                        </li>
                        <li><a href="#">Spanish</a></li>
                        <li><a href="#">Russian</a></li>
                        <li><a href="#">German</a></li>
                    </ul>
                </li>
                <li class="devider"></li>
                <li><a href="page_faq.html">Help</a></li>
                <li class="devider"></li>
                <li><a href="page_login.html">Login</a></li>
            </ul>
        </div>
    </div><!--/top-->
    <!--=== End Top ===-->
    <!--=== Header ===-->
    <div class="s0101-header">
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="pbspan sr-only">Toggle navigation</span>
                        <span class="pbspan icon-bar"></span>
                        <span class="pbspan icon-bar"></span>
                        <span class="pbspan icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img id="logo-header" src="/Content/templates/t01/assets/img/logo1-default.png" alt="Logo">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                                Home
                                <i class="icon-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Option 1: Default Page</a></li>
                                <li><a href="page_home1.html">Option 2: Layer Slider</a></li>
                                <li><a href="page_home2.html">Option 3: Revolution Slider</a></li>
                                <li><a href="page_home3.html">Option 4: Amazing Content</a></li>
                                <li><a href="page_home4.html">Option 5: Home Sidebar</a></li>
                                <li><a href="page_home5.html">Option 6: Home Flatty</a></li>
                                <li><a href="page_home6.html">Option 7: Home Magazine</a></li>
                                <li><a href="page_home7.html">Option 8: Home Portfolio</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                                Pages
                                <i class="icon-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="page_about.html">About Us</a></li>
                                <li><a href="page_about1.html">About Us Option</a></li>
                                <li><a href="page_services.html">Services</a></li>
                                <li><a href="page_services1.html">Services Option</a></li>
                                <li><a href="page_pricing.html">Pricing Tables</a></li>
                                <li><a href="page_invoice.html">Invoice Page</a></li>
                                <li><a href="page_meet_our_team.html">Meet Our Team</a></li>
                                <li><a href="page_coming_soon.html">Coming Soon</a></li>
                                <li><a href="page_faq.html">FAQs Page</a></li>
                                <li><a href="page_search.html">Funny Boxes</a></li>
                                <li><a href="page_gallery.html">Gallery Page</a></li>
                                <li><a href="page_registration.html">Registration Page</a></li>
                                <li><a href="page_registration1.html">Registration Option</a></li>
                                <li><a href="page_login.html">Login Page</a></li>
                                <li><a href="page_login1.html">Login Option</a></li>
                                <li><a href="page_404_error.html">404 Error</a></li>
                                <li><a href="page_404_error1.html">404 Error Option</a></li>
                                <li><a href="page_clients.html">Clients Page</a></li>
                                <li><a href="page_privacy.html">Privacy Policy</a></li>
                                <li><a href="page_terms.html">Terms Of Service</a></li>
                                <li><a href="page_2_columns_left.html">2 Columns Page Left</a></li>
                                <li><a href="page_2_columns_right.html">2 Columns Page Right</a></li>
                                <li><a href="page_3_columns.html">3 Columns Page</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                                Features
                                <i class="icon-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="feature_grid.html">Grid Layout</a></li>
                                <li><a href="feature_boxes.html">Content Boxes</a></li>
                                <li><a href="feature_typography.html">Typography</a></li>
                                <li><a href="feature_tagline_boxes.html">Tagline Boxes</a></li>
                                <li><a href="feature_buttons.html">Buttons</a></li>
                                <li><a href="feature_icons.html">Icons</a></li>
                                <li><a href="feature_thumbails.html">Thumbails</a></li>
                                <li><a href="feature_components.html">Components</a></li>
                                <li><a href="feature_accardion_and_tabs.html">Accardion and Tabs</a></li>
                                <li><a href="feature_navigations.html">Navigations</a></li>
                                <li><a href="feature_tables.html">Tables</a></li>
                                <li><a href="feature_forms.html">Forms</a></li>
                                <li><a href="feature_testimonials.html">Testimonials</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                                Portfolio
                                <i class="icon-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="portfolio_text_blocks.html">Portfolio Text Blocks</a></li>
                                <li><a href="portfolio_2_column.html">Portfolio 2 Columns</a></li>
                                <li><a href="portfolio_3_column.html">Portfolio 3 Columns</a></li>
                                <li><a href="portfolio_4_column.html">Portfolio 4 Columns</a></li>
                                <li><a href="portfolio_item.html">Portfolio Item Option 1</a></li>
                                <li><a href="portfolio_item1.html">Portfolio Item Option 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                                Blog
                                <i class="icon-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="blog_page.html">Blog Page</a></li>
                                <li><a href="blog_large.html">Blog Large</a></li>
                                <li><a href="blog_medium.html">Blog Medium</a></li>
                                <li><a href="blog_full_width.html">Blog Full Width</a></li>
                                <li><a href="blog_left_sidebar.html">Blog Left Sidebar</a></li>
                                <li><a href="blog_right_sidebar.html">Blog Right Sidebar</a></li>
                                <li><a href="blog_item_option1.html">Blog Item Option 1</a></li>
                                <li><a href="blog_item_option2.html">Blog Item Option 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                                Contacts
                                <i class="icon-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="page_contact1.html">Contacts Default</a></li>
                                <li><a href="page_contact2.html">Contacts Option 1</a></li>
                                <li><a href="page_contact3.html">Contacts Option 2</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /navbar-collapse -->
            </div>
        </div>
    </div><!--/header-->
</div>