<div wb_id="" class="wb_draggable wb_node" sectionid="s0106">
    <style>
    </style>
    <div class="container wb_sortable" wb_id="">
        <div class="wb_draggable wb_node" wb_id="">
            <div class="row">
                <div class="col-md-4 col-sm-4 wb_sortable wb_pipe" wb_id="">
                    <div wb_id="" class="wb_draggable wb_node" sectionid="s9902">
                        <div class="container">
                            <img class="img-responsive margin-bottom-20" src="/Content/templates/t01/assets/img/main/6.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 wb_sortable" wb_id="">
                    <div wb_id="" class="wb_draggable wb_node" sectionid="s9901">
                        <div class="container">
                            <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
                        </div>
                    </div>

                    <div wb_id="" class="wb_draggable wb_node" sectionid="s9903">
                        <div class="container">
                            <ul class="list-unstyled margin-bottom-20" wb_settings="{'settings':[{'type':'repeat','desc':'the number of bullet point','value':'5'}]}">
                                <li><i class="icon-ok color-green"></i> Donec id elit non mi porta gravida</li>
                                <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
                                <li><i class="icon-ok color-green"></i> Responsive Bootstrap Template</li>
                                <li><i class="icon-ok color-green"></i> Corporate and Creative</li>
                            </ul>
                        </div>
                    </div>

                    <div wb_id="" class="wb_draggable wb_node" sectionid="s9901">
                        <div class="container">
                            <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div wb_id="" class="wb_draggable wb_node">
            <div class="row wb_sortable " wb_id="">
                <div wb_id="" class="wb_draggable wb_node" sectionid="s9901">
                    <div class="container">
                        <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>