<div wb_id="">
    <style>
    </style>
    <div class="container">
        <!-- Our Clients -->
        <div id="clients-flexslider" class="flexslider home clients">
            <ul class="slides">
                <li>
                    <a href="#">
                        <img src="/Content/templates/t01/assets/img/clients/hp_grey.png" alt="" />
                        <img src="/Content/templates/t01/assets/img/clients/hp.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/Content/templates/t01/assets/img/clients/igneus_grey.png" alt="" />
                        <img src="/Content/templates/t01/assets/img/clients/igneus.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/Content/templates/t01/assets/img/clients/vadafone_grey.png" alt="" />
                        <img src="/Content/templates/t01/assets/img/clients/vadafone.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/Content/templates/t01/assets/img/clients/walmart_grey.png" alt="" />
                        <img src="/Content/templates/t01/assets/img/clients/walmart.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/Content/templates/t01/assets/img/clients/shell_grey.png" alt="" />
                        <img src="/Content/templates/t01/assets/img/clients/shell.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/Content/templates/t01/assets/img/clients/natural_grey.png" alt="" />
                        <img src="/Content/templates/t01/assets/img/clients/natural.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/Content/templates/t01/assets/img/clients/aztec_grey.png" alt="" />
                        <img src="/Content/templates/t01/assets/img/clients/aztec.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/Content/templates/t01/assets/img/clients/gamescast_grey.png" alt="" />
                        <img src="/Content/templates/t01/assets/img/clients/gamescast.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/Content/templates/t01/assets/img/clients/cisco_grey.png" alt="" />
                        <img src="/Content/templates/t01/assets/img/clients/cisco.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/Content/templates/t01/assets/img/clients/everyday_grey.png" alt="" />
                        <img src="/Content/templates/t01/assets/img/clients/everyday.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/Content/templates/t01/assets/img/clients/cocacola_grey.png" alt="" />
                        <img src="/Content/templates/t01/assets/img/clients/cocacola.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/Content/templates/t01/assets/img/clients/spinworkx_grey.png" alt="" />
                        <img src="/Content/templates/t01/assets/img/clients/spinworkx.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/Content/templates/t01/assets/img/clients/shell_grey.png" alt="" />
                        <img src="/Content/templates/t01/assets/img/clients/shell.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/Content/templates/t01/assets/img/clients/natural_grey.png" alt="" />
                        <img src="/Content/templates/t01/assets/img/clients/natural.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/Content/templates/t01/assets/img/clients/gamescast_grey.png" alt="" />
                        <img src="/Content/templates/t01/assets/img/clients/gamescast.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/Content/templates/t01/assets/img/clients/everyday_grey.png" alt="" />
                        <img src="/Content/templates/t01/assets/img/clients/everyday.png" class="color-img" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/Content/templates/t01/assets/img/clients/spinworkx_grey.png" alt="" />
                        <img src="/Content/templates/t01/assets/img/clients/spinworkx.png" class="color-img" alt="" />
                    </a>
                </li>
            </ul>
        </div><!--/flexslider-->
        <!-- End Our Clients -->
    </div>
</div>
