<div wb_id="" class="wb_draggable wb_node" sectionid="s0107">
    <style>
        /*Carousel v1*/
        .carousel-v1 .carousel-caption {
            left: 0;
            right: 0;
            bottom: 0;
            padding: 7px 15px;
            background: rgba(0, 0, 0, 0.7);
        }

            .carousel-v1 .carousel-caption p {
                color: #fff;
                margin-bottom: 0;
            }

        .carousel-v1 .carousel-arrow a.carousel-control {
            opacity: 1;
            font-size: 30px;
            height: inherit;
            width: inherit;
            background: none;
            text-shadow: none;
            position: inherit;
        }

        .carousel-v1 .carousel-arrow a i {
            top: 50%;
            opacity: 0.6;
            background: #000;
            margin-top: -18px;
            padding: 2px 12px;
            position: absolute;
        }

            .carousel-v1 .carousel-arrow a i:hover {
                opacity: 0.8;
            }

        .carousel-v1 .carousel-arrow a.left i {
            left: 0;
        }

        .carousel-v1 .carousel-arrow a.right i {
            right: 0;
        }
    </style>
    <div class="container">
        <div id="myCarousel" class="carousel slide carousel-v1">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/Content/templates/t01/assets/img/main/5.jpg" alt="">
                    <div class="carousel-caption">
                        <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="/Content/templates/t01/assets/img/main/4.jpg" alt="">
                    <div class="carousel-caption">
                        <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="/Content/templates/t01/assets/img/main/3.jpg" alt="">
                    <div class="carousel-caption">
                        <p>Justo cras odio apibus ac afilisis lingestas de.</p>
                    </div>
                </div>
            </div>

            <div class="carousel-arrow">
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <i class="icon-angle-left"></i>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <i class="icon-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
