#wb_toolbox {
    position: fixed;
    top: 60px;
    right: 0;
    width: 300px;
    z-index: 99999;

    .title {
        background-color: darkblue;
        color: #fff;
    }

    img {
        width: 100%;
    }

    .wb_draggable {
        margin: 5px 0;
        border: 1px solid blue;
        cursor: pointer;
    }
    /*.ui-draggable-dragging {
        width: 20%;
        height:20%;
    }

    .ui-sortable-helper {
        width: 20% !important;
        height: 20% !important;
    }*/
}

#wb_pagebuilder {
    width: 1024px;
    margin: 0 auto 0 auto;

    .wb_pagesection {
        width: 100%;
        text-align: center;
        background-color: #ccc;
        color: #fff;
        margin: 15px 0;
    }

    .wb_sortable {
        min-height: 30px;
    }

    .wb_pipe {
        border-right: 1px solid #aaa;
    }

    .oneline {
        clear: both;
        float: left;
        margin: 1px 0;
    }

    .ui-state-placeholder {
        background-color: #aaa;
        min-height: 30px;
    }

    .selectedNode {
        border: 1px solid blue;
    }
}

/*context menu*/
.context-menu-list {
    li {
        display: block;
    }

    li:before {
        content: '';
    }
}
/*toolbar*/
#wb_toolbar{
    margin:60px 0 0 0;
}

/*modal*/
#wb_EditTextModal{
    #textPanel{
        height:150px;
        overflow-y: scroll;
        .list-group-item{
            cursor:pointer;
        }
    }
}
#wb_EditImageModal{
    #imagePanel{
        width:300px;
        .editImageItem img{
            width:250px;
        }
    }
    .modal-dialog{
        width:850px;
    }
}
