#wb_toolbox {
    position: fixed;
    top: 60px;
    width: 300px;

    .title {
        background-color: darkblue;
        color: #fff;
    }

    img {
        width: 100%;
    }

    .wb_draggable {
        margin: 5px 0;
        border: 1px solid blue;
        cursor:pointer;
    }
}

#wb_pagebuilder{
    width:1280px;
    margin:60px auto 0 auto;
    .wb_pagesection{
        width:100%;
        text-align:center;
        background-color:#ccc;
        color:#fff;
    }
    .wb_sortable{
        min-height:30px;
    }
}
