<div wb_id="" class="wb_draggable wb_node" sectionid="s9903">
    <div class="container">
        <ul class="list-unstyled margin-bottom-20" wb_settings="{'settings':[{'type':'repeat','desc':'the number of bullet point','value':'5'}]}">
            <li><i class="icon-ok color-green" iconid=""></i> Donec id elit non mi porta gravida</li>
            <li><i class="icon-ok color-green" iconid=""></i> Corporate and Creative</li>
            <li><i class="icon-ok color-green" iconid=""></i> Responsive Bootstrap Template</li>
            <li><i class="icon-ok color-green" iconid=""></i> Corporate and Creative</li>
        </ul>
    </div>
</div>